*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.mt-20{
    margin-top: 20px;
}

.mt-53{
    margin-top: 53px;
}
.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

/* ============ Cabeçalho do site ========== */

header{
    width: 100%;
    height: 190px;
    padding: 40px 2% 0 2%;
    background-image: linear-gradient( to bottom, rgb(7, 198, 49) 30%, rgb(255, 255, 255));
}

header h1{
    position: relative;
    text-align: center;
    font-size: 22px;
    color: #ffffff;
}

header h2{
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
    color: #878787;
}

/* ============ Cabeçalho do site FIM ========== */


/* ============ Imagens da lateral do site ========= */

.img-left img, .img-right img{
    width: 180px;
    height: 170px;
    margin-top: -50px;
}

.img-left img{
    float: left;
    position: absolute;
    left: -10px;
}

.img-right img{
    float: right;
    position: absolute;
    right: -10px;
    top: 200px;
}

@media screen and (max-width: 880px){
    .img-left, .img-right{
        display: none;
    }
}
/* ============ Imagens da lateral do site END ========= */

/* ============ Seção da caixa dos botões (escolha de loteria) =========== */

.box-buttons{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 20px 0;
}

.btn-container{
    width: 50%;
    float: left;
    position: relative;
}

.box-buttons .btn-single{
    position: relative;
    width: 220px;
    height: 40px;
    /* margin-top: 53px; */
    border: 3px solid #1B9C20;
    border-radius: 15px;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    cursor: pointer;
}

.btn-single img{
    border-radius: 6px;
    width: 28px;
    height: 28px;
    margin-top: 3px;
    margin-left: 46px;
}

.btn-single a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin-left: 7px;
    color: #BA2598;
    line-height: 35px;
    vertical-align: top;
}

.btn-single::before{
    content: '';
    width: 0;
    height: 100%;
    border-radius: 9px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #1B9C20;
    border-bottom: 3px solid #BA2598;
    transition: .3s ease;
    display: block;
    z-index: -1;
}
   
.btn-single:hover::before{
    width: 100%;
   }
.btn-single:hover a{
    color: #ffffff;
}

@media screen and (max-width:480px){

    /* .btn-container{
        width: 50%;
        float: left;
        position: relative;
    } */
    .btn-container{
        float: none;
        width: 100%;
    }

    .mt-53{
        margin-top: 0;
    }

    .btn-single{
        margin-top: 20px;
    }
    
}

/* ============ Seção da caixa dos botões END =========== */

/* =========== Imagem inferior do site =========== */

.bg-money{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    margin: 0 auto;
    width: 100%;
    max-width: 490px;
    height: 250px;
    top: -250px;
    background-image: url(../images/img-cedulas.png);
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
/* =========== Imagem inferior do site END =========== */

/* ============ Rodapé do site =========== */

footer{
    width: 100%;
    padding: 10px 2%;
    position: absolute;
    bottom: 0;
    background-color: #D9D9D9;
    text-align: center;
}

footer nav{
    width: 100%;
    max-width: 400px;
    display: inline-block;
    text-align: center;
}

footer nav ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 15px 0 15px;
}

footer nav ul a{
    line-height: 50px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}


footer .nav-icons{
    /* float: right; */
    position:absolute;
    right: 0;
    bottom: 15px;
}

footer .nav-icons img{
    width: 30px;
    height: 30px;
    margin-right: 25px;
    margin-top: 10px; 
}

@media screen and (max-width: 768px){
    footer .nav-icons{
        display: block;
        position: relative;
        margin-top: 25px;
    }

    footer .nav-icons img{
        margin: 0 10px 0 10px;
    }
}

@media screen and (max-width: 480px){
    html, body{
        overflow: auto;
        min-height: 620px;
        height: 100%;
    }

    footer{
        position: relative;
    }
}
/* ============ Rodapé do site END=========== */


/* >>>>>>>>>>>>>>> Cabeçalho das paginas de loteria <<<<<<<<<<<<<<<<<<<<*/


.megasena > header{
    background-image: linear-gradient( to bottom, #209869 30%, rgb(255, 255, 255));
    padding: 30px 0 30px 0;
    text-align: center;
}
.megasena, .duplasena, .quina > header h1{
    word-spacing: 4px;
    letter-spacing: 3px;

}

.duplasena > header{
    background-image: linear-gradient( to bottom, #A61324 30%, rgb(255, 255, 255));
    padding: 30px 0 30px 0;
    text-align: center;
}
.timemania > header h1{
    color: #560BAD;
}

.quina > header{
    background-image: linear-gradient( to bottom, #260185 30%, rgb(255, 255, 255));
    padding: 30px 0 30px 0;
    text-align: center;
}

.lotomania > header{
    background-image: linear-gradient( to bottom, #F39323 30%, rgb(255, 255, 255));
    padding: 30px 0 30px 0;
    text-align: center;
}

.lotofacil > header{
    background-image: linear-gradient( to bottom, #93018A 30%, rgb(255, 255, 255));
    padding: 30px 0 30px 0;
    text-align: center;
}

.timemania > header{
    background-image: linear-gradient( to bottom, #02FF02 30%, rgb(255, 255, 255));
    padding: 30px 0 30px 0;
    text-align: center;
}

/* ========== botão voltar para a home ========= */
header #back-home{
    width: 150px;
    margin-top: 30px;
    font-size: 14px;
    cursor: pointer;
}
header #back-home a{
    text-decoration: none;
    color: #000;
}

/* =========== Filtros para escolha dos números ============ */

.content{
    text-align: center;
}

.filtros{
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.filtros h2{
    display: inline-block;
    font-size: 16px;
}

.filtros span{
    font-size: 16px;
    font-weight: bold;
}

.filtros select{
    width: 50px;
    height: 30px;
    font-size: 18px;
}

.filtros input{
    margin-top: 20px;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

/* ============ botão Gerar-resultado ============ */

#gerar-resultado{
    margin-top: 20px;
    width: 200px;
}

.btn-gerar-result button {
    --color: #560bad;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    cursor: pointer;
   }
   
   .btn-gerar-result button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 300px;
    border-radius: 50%;
   }
   
   .btn-gerar-result button:hover {
    color: #fff;
   }
   
   .btn-gerar-result button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   .btn-gerar-result button:hover:before {
    top: -30px;
    left: -30px;
   }
   
   .btn-gerar-result button:active:before {
    background: #3a0ca3;
    transition: background 0s;
   }


/* =========== Cartela de números ========= */

.cartela-megasena, 
.cartela-duplasena,
.cartela-quina,
.cartela-lotomania,
.cartela-lotofacil,
.cartela-timemania{
    background-color: #ccc;
    position: relative;
    margin: 30px auto;
    width: 100%;
    max-width: 280px;
    height: auto;
    border-radius: 10px;
    padding-bottom: 10px;
}

.cartela-megasena > .num-single, 
.cartela-lotomania > .num-single, 
.cartela-quina > .num-single, 
.cartela-duplasena > .num-single, 
.cartela-lotofacil > .num-single,
.cartela-timemania > .num-single{
    float: left;
    margin-top: 10px;
    border-radius: 13px;
}

.cartela-megasena > .num-single{
    width: 16.6%;
}

.cartela-lotomania > .num-single, 
.cartela-duplasena > .num-single, 
.cartela-lotofacil > .num-single{
    width: 20%;
}

.cartela-quina > .num-single, 
.cartela-timemania > .num-single{
    width: 12.5%;
}

.num-single > .num-single-wrapper{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 26px;
    height: 26px;
    background-color: #1B9C20;
    border-radius: 13px;
    vertical-align: bottom;
}

.num-single-wrapper span{
    line-height: 26px;
    color: #ffffff;
    font-size: 16px;
}


/* ========== numeros-sorteados-ordenados ============= */

.numeros-sorteados-ordenados{
    margin: 20px auto;
    text-align: center;
    display: flex;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.numeros-sorteados-ordenados .num-single-sorteado{
    display: inline-block;
    margin: 0 10px 10px 13px;
    width: 26px;
    height: 26px;
    background-color: #560bad;
    border-radius: 13px;
}

.num-single-sorteado span{
    line-height: 26px;
    color: #ffffff;
    font-size: 16px;
}


/* ========== Time da loteria timemania =========== */

.clube{
    margin-top: 10px;
    color: #560bad;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 50px;
}